@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-poppins;
  }
}

/* Customize NProgress bar */
#nprogress .bar {
  background: #FFD700 !important; /* Gold color */
  height: 4px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #FFD700, 0 0 5px #FFD700 !important;
}

/* Blinking Animation */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s 12;
}